# dependencies
node_modules
.pnp
.pnp.js

# next
.next
out

# misc
.DS_Store
*.pem
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
next-env.d.ts
ezgif-8a1604ea1530913b-png-split.zip
extracted

IMPLEMENTATION_PLAN.md  
